<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title>arbeitnehmer</title>
</head>
<body>
    <%- include('./nav.ejs') %>
    <main id="emp">
        <section id="hero">
            <h1>
                Deine Skills <br> + unser Zertifikat <br> = neuer Job
            </h1>
            <div class="description">
                <h1>HIER suchen und finden:</h1>
                <form action="">
                    <input type="text" name="" id="">
                    <input type="submit" value="search">
                </form>
                <div class="colors">
                    <div class="cl1"></div>
                    <div class="cl2"></div>
                    <div class="cl3"></div>
                </div>
            </div>
        </section>
    </main>
    <%- include('./footer.ejs') %>
</body>
</html>