<nav>
    <ul>
      <a href=""> Wir </a>
    </ul>
    <ul>
      <a href="">Arbeitgeber</a>
    </ul>
    <ul>
      <a href=""></a
      ><img src="/upSkills.png" alt="" />
    </ul>
    <ul>
      <a href="">Arbeitnehmer</a>
    </ul>
    <ul>
      <a href="">Contact</a>
    </ul>
</nav>